
<br><br>

<table class="table table-dark table-hover align-text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
      <th scope="col">Price</th>
      <th scope="col">Market cap</th>
      <th scope="col">Volume 24h</th>
      <th scope="col">Circulating Supply</th>
      <th scope="col">24h %</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each cryptos}}
      <tr>
        <form action="/cryptos">
        <th scope="row">{{market_cap_rank}}</th>
        <td><img class="coin-logo" src="{{image}}" loading="lazy" width="24" height="24">  {{name}} {{symbol}}</td>
        <td><a class="btn btn-primary" href="crypto_chart" role="button">Launch chart</a></td>
        <td>${{current_price}}</td>
        <td>${{market_cap}}</td>
        <td>${{total_volume}}</td>
        <td class="text-uppercase">{{circulating_supply}} {{symbol}}</td>
        <td>{{price_change_percentage_24h}}%</td>
      </tr>
      </form>
    {{/each}}
  </tbody>
</table>